.about {
  color: $color-bg;
  margin-top: 40px;
  margin-bottom: 64px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 16px;
}

.about__title {
  color: $color-bg;
}

.about__details-wrapper {
  display: flex;
  justify-content: space-between;
}

.about__info-wrapper {
  display: flex;
  flex-direction: column;
}

.about__detail {
  margin-bottom: 0px;
  opacity: 0.7;
}

.about__detail-wrapper {
  order: 2;
}

.about__details {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  list-style: none;
  & li {
    display: flex;
    align-items: center;
    max-width: 288px;
    margin-bottom: 24px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.about__hashtag {
  margin-bottom: 8px;
  font-size: 18px;
  color: $color-primary;
  @media #{$media-tablet} {
    font-size: 24px;
  }
}

.about__detail-svg {
  margin-right: 16px;
  order: 1;
  fill: $color-bg
}

.about__button {
  margin-bottom: 64px;
}

.about__photos-container {
  position: relative;
  display: none;
  @media #{$media-tablet} {
    display: flex;
  }
  &::before {
    position: absolute;
    content: "";

    top: -16px;
    right: 0;

    width: 320px;
    height: 100%;

    box-sizing: border-box;

    border: 6px solid $color-primary;
    border-right: none;
  }
}

.about__photos {
  display: none;
  max-width: 445px;
  overflow-x: hidden;
  align-self: flex-end;

  @media #{$media-tablet} {
    display: flex;
  }

}

.about__photos-wrapper {
  width: 100%;
}

.about__photo-wrapper {
  margin-right: -15px;
  position: relative;
  // &::after {
  //   position: absolute;
  //   content: "";
  //   top: -11px;
  //   right: -5px;

  //   width: 70%;
  //   height: 90%;

  //   border: 6px solid $color-primary;
  // }
}

.about__photo {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.about__controls {
  position: absolute;
  bottom: 24px;
  right: 40px;
  z-index: 10;
  display: flex;
  justify-content: space-between;

  width: 40px;
  height: 20px;
}

.about__control {
  position: relative;
  border: none;
  padding: 0;
  width: 10px;
  height: 20px;
  background-color: transparent;
  border: none;
  fill: $color-bg;
  &--next {
    transform: rotateY(180deg);
  }
}

.about__control-svg {
  stroke: $color-bg;
  stroke-width: 10%;
  width: 100%;
  height: 100%;
}