.header {
  background-color: #7965ad;
  background-size: 400px 219px;
  background-position: top 33% left -12px;
  background-image: url("../images/bfw.svg");
  background-repeat: no-repeat;
  @media #{$media-tablet} {
    background-size: 920px 504px;
  }
  @media #{$media-desktop} {
    background-size: 1400px 767px;
    background-position: top 200px left -12px;
  }
}

.header__wrapper {
  @include container;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media #{$media-desktop} {
    margin-bottom: 160px;
  }
}

.header__logo {
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: $color-bg;

  padding-right: 13px;
  padding-left: 13px;

  width: 138px;
  height: 92px;

  & svg {
    width: 103px;
    height: 24px;
  }

  @media #{$media-tablet} {
    margin-left: 24px;
  }

  @media #{$media-desktop} {
    margin-left: 0;
    width: 260px;
    height: 145px;

    & svg {
      width: 180px;
      height: 42px;
    }
  }
}

.header__lang-wrapper {
  display: none;
  z-index: 3;
  font-size: 16px;
  font-weight: $font-weight-semibold;
  @media #{$media-desktop} {
    display: block;
  }
}

.header__lang-button {
  font-size: $font-size;
  background-color: transparent;
  text-transform: uppercase;
  opacity: .6;
  border: none;
  color: $color-bg;
}

.header__lang-button-svg {
  fill: $color-bg;
}

.header__lang-button-text {
  padding-right: 4px;
}

.header__lang-menu {
  display: none;
}

.header__lang-adaptive {
  display: none;
  z-index: 3;

  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: $color-bg;
  font-size: 16px;
  font-weight: $font-weight-semibold;
  letter-spacing: -.02em;
  @media #{$media-tablet} {
    margin-left: auto;
    margin-right: 47px;
  }
}

.header__lang-link {
  color: $color-bg;
  opacity: .3;
  &--current {
    opacity: 1;
  }
}

.header__trigger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 25px;

  z-index: 3;

  width: 28px;
  height: 17px;

  padding: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;

  &--opened {
    & .header__burger {
      width: 0;
      &::before,
      &::after {
        top: 0;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
  @media #{$media-desktop} {
    display: none;
  }
}

.header__burger {
  position: relative;
  width: 19px;
  height: 3px;
  border-radius: 3px;

  background-color: $color-bg;

  &::before {
    position: absolute;
    content: "";
    top: -7px;
    right: 0;
    transition: $transition;
  

    width: 28px;
    height: 3px;

    border-radius: 3px;
    background-color: $color-bg;
  }

  &::after {
    position: absolute;
    content: "";
    top: 7px;
    right: 0;
    transition: $transition;

    width: 28px;
    height: 3px;

    border-radius: 3px;
    background-color: $color-bg;
  }
}

