.judges {
  position: relative;
  margin-bottom: 50px;
}

.judges__cards-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}

.judges__title { 
  padding-bottom: 16px;
  margin-left: 16px;
  line-height: 0;
  font-size: $font-size-big-mobile;
  line-height: $line-height-big;
  @media #{$media-tablet} {
    font-size: $font-size-big-tablet;
  }
}

.judges__cards {
  background-color: $color-bg-secondary;
  box-shadow: 0 17px 20px -14px rgba(0,0,0,0.27);
}

.judges__country {
  @include weakText;
}

.judges__desc {
  font-size: 18px;
  opacity: 0.6;
  color: $color-base;
  line-height: 1.4;
}

.judges__photo {
  width: 100%;
  object-fit: cover;
}

.judges__card {
  
  
}

.judges__card-wrapper {
  padding: 16px;
  min-height: 215px;
}

.judges__name {
  margin-bottom: 16px;
}

.judges__country {
  margin-bottom: 16px;
}

.judges__socials {
  margin-right: 0;
  width: 60px;
  & svg {
    width: 24px;
    height: 24px;
  }
}