.page-nav {
  position: absolute;
  display: none;
  
  left: 0;
  bottom: 24px;
  @media #{$media-tablet} {
    display: block;
  }
}

.page-nav__buttons {
  display: none;
  list-style: none;
  padding-left: 0;
  @media #{$media-desktop} {
    display: block;
  }
}

.page-nav__number {
  opacity: .5;
  font-weight: $font-weight-light;
  &--active {
    font-weight: $font-weight-bold;
  }
}

.page-nav__wrapper {
  position: relative;
  padding-left: 48px;
  &::before {
    position: absolute;
    content: "";

    width: 32px;
    height: 1px;

    top: 50%;
    left: 0;

    transform: translateX(-50%);

    background-color: $color-bg;
  }
}