.participants {
  position: relative;
  margin-bottom: 50px;
}

.participants__title {
  margin-bottom: 32px;
  margin-left: 16px;
}

.participants__cards {
  width: 320px;
  height: 456px;
}

.participants__list {
  list-style: none;
  padding-left: 0;
  box-sizing: border-box;
}

.participants__slide {
}

.participants__card {
  display: flex;
  margin-bottom: 20px;
}

.participants__desc {
  margin-right: 12px;
  margin-left: 43px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  align-self: flex-start;
  @include weakText;
}

.participants__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.participants__author-card {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  padding: 16px;
  left: 0;
  bottom: 32px;
  z-index: 11;
  width: 300px;
  height: 120px;
  background-color: $color-bg-secondary;
}

.participants__author-name {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: $font-size-medium-mobile;
  line-height: $line-height-medium;
  @media #{$media-tablet} {
    font-size: $font-size-medium-tablet;
  }
}

.participants__author-card-wrapper {
  width: 100%;
}

.participants__country {
  margin-bottom: 0;
  @include weakText;
}

.participants__avatar {
  padding-right: 8px;
}

.participants__details {
  display: flex;
  flex-direction: column;
}

.participants__socials {
  margin-right: inherit;
}

.participants__controls {
  display: none;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate(-50%, -50%);
  border: none;
  background: none;
  @media #{$media-desktop} {
    display: flex;
  }
  &--photos {
    display: flex;
    width: 36px;
    left: 10px;
    bottom: 140px;
  }
}

.participants__control {
  padding: 0;
  background: none;
  border: none;
  &--next {
    transform: rotate(180deg);
  }
}

.participants__svg {
  width: 32px;
  height: 64px;
  fill: #E0E0E0;
  & path {
    width: 32px;
    height: 64px;
  }
}

.participants__pagination {
  bottom: 0;
  background: red;
}