.participants {
  position: relative;
  margin-bottom: 50px;
}

.participants__title {
  margin-bottom: 32px;
  margin-left: 16px;
}

.participants__list {
  list-style: none;
  padding-left: 0;
  box-sizing: border-box;
}

.participants__card {
  display: flex;
}

.participants__photos {
  padding-bottom: 24px;
}

.participants__desc {
  position: absolute;
  
  margin-right: 12px;
  margin-left: 43px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  align-self: flex-start;
  @include weakText;
}

.participants__photo {
  padding-left: 72px;
  object-fit: cover;
  width: 248px;
  height: 320px;
  @media (min-width: 400px) {
    width: 100%;
    height: initial;
    // height: 100%;
  }; 
}

.participants__author-card {
  display: flex;
  box-sizing: border-box;
  padding: 16px;
  margin-top: -137px;
  margin-bottom: 126px;
  z-index: 1;
  width: 90%;
  background-color: $color-bg-secondary;
}

.participants__author-name {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: $font-size-medium-mobile;
  line-height: $line-height-medium;
  @media #{$media-tablet} {
    font-size: $font-size-medium-tablet;
  }
}

.participants__author-card-wrapper {
  width: 100%;
}

.participants__country {
  margin-bottom: 0;
  @include weakText;
}

.participants__avatar {
  padding-right: 8px;
}

.participants__details {
  display: flex;
  flex-direction: column;
}

.participants__socials {
  margin-left: auto;
  margin-right: inherit;
}

.participants__controls {
  display: none;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate(-50%, -50%);
  border: none;
  background: none;
  @media #{$media-desktop} {
    display: flex;
  }
  &--photos {
    display: flex;
    width: 36px;
    top: initial;
    left: 24px;
    bottom: 138px;
  }
}

.participants__control {
  padding: 0;
  background: none;
  border: none;
  &--next {
    transform: rotate(180deg);
  }
}

.participants__svg {
  width: 32px;
  height: 64px;
  fill: #E0E0E0;
  & path {
    width: 32px;
    height: 64px;
  }
}

.participants__pagination {
  bottom: 0;
}

.participants__photos-wrapper {
  z-index: -1;
}