.socials {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin: 0;
  padding: 0;
  list-style: none;
  &--adaptive {
    display: flex;
    margin-top: 66px;
    @media #{$media-desktop} {
      display: none;
    }
  }
  &--desktop {
    display: none;
    @media #{$media-desktop} {
      display: flex;
    }
  }
  &--small {
    width: 93px;
    & svg {
      fill: #303030;
    }
  }
}

.socials__item {
  color: $color-bg;
}

.socials__svg {
  fill: #FFFFFF;
  opacity: 0.3;
}