.tickets {
  margin-bottom: 64px;
}

.tickets__text {
  opacity: .7;
}

.tickets__wrapper {
  padding-left: 16px;
}

.tickets__title {
  margin-bottom: 32px;
}

.tickets__text {
  margin-bottom: 24px;
  line-height: 1.5;
}

.tickets__phone {
  color: $color-secondary;
  line-height: 1.5;
}

.tickets__payments {
  display: grid;
  width: 138px;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tickets__payment-img {
  padding-bottom: 26px;
  padding-right: 40px;
}

.tickets__phone {
  display: block;
  margin-bottom: 40px;
  font-weight: $font-weight-semibold;
  color: $color-secondary-darker;
}

.table__head {
  font-size: 14px;
  text-transform: uppercase;
  &--option {
    font-size: 0;
    opacity: 0;
  }
}

.table__option-name {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: left;
}

.tickets__container {
  width: 100%;
  overflow: auto;
}

.tickets__options-table {
  border-spacing: 0;
  & .table__row {
    &:nth-child(2n) {
      background-color: rgba($color: $color-primary, $alpha: 0.1);
      border-color: rgba($color: $color-primary, $alpha: 0.1);
    }
  }
}

.table__option-check {
  position: relative;
  font-size: 0;
  &--checked {
    &::before {
      position: absolute;
      content: "";
  
      width: 13px;
      height: 10px;
  
      top: 50%;
      left: 50%;
  
      transform: translate(-50%, -50%);
      background-image: url('/images/checked.svg');
      background-repeat: no-repeat;
    }
  }
}

.table__row {
  &--links {
    & td {
      &:nth-child(3n) {
        & .table__link {
          background-color: $color-secondary-darker;
          border-color: $color-secondary-darker;
          color: $color-bg;
        }
      }
    }
  }
}

.table__link {
  margin-right: 32px;
  width: 120px;
  border: 2px solid #D0D7DD;
  border-radius: 2px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.table__stars {
  margin-top: 4px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.table__star {
  position: relative;
  margin-right: 2px;
  width: 16px;
  height: 16px;
  &::before {
    position: absolute;
    content: "";

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 16px;
    height: 16px;

    background-image: url('/images/star.png');
    background-repeat: no-repeat;
  }
  &--checked {
    &::before {
      background-image: url('/images/star-checked.png');
    }
  }
}
