extends ../common/layout.pug

block vars
  -
    const data = {
      main: true,
      title: "",
      description: "",
      keywords: "",
      url: "",
      image: "og-logo"
    }

block content
  .overlay
