extends ../common/layout

block vars
  -
    const data = {
      href: "index.html",
      main: true,
      title: "Модельное агенство «Blade» ",
      description: "Веб-сайт модельного агенства «Blade»",
      keywords: "Модельное агенство, Blade, blade fashion",
      url: "",
      image: "og-logo"
    }

block content
  include ../blocks/participants
  include ../blocks/judges
  include ../blocks/tickets
  //- include ../blocks/dialog
