@font-face {
  font-weight: 600;
  font-family: "Playfair Display";

  font-display: swap;
  src: url("../fonts/playfair-display-600.woff2") format("woff2"),
       url("../fonts/playfair-display-600.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Playfair Display";

  font-display: swap;
  src: url("../fonts/playfair-display-700.woff2") format("woff2"),
       url("../fonts/playfair-display-700.woff2") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/lato-300.woff2") format("woff2"),
       url("../fonts/lato-300.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/lato-400.woff2") format("woff2"),
       url("../fonts/lato-400.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/lato-600.woff2") format("woff2"),
       url("../fonts/lato-600.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Lato";

  font-display: swap;
  src: url("../fonts/lato-700.woff2") format("woff2"),
       url("../fonts/lato-700.woff") format("woff");
}
