/* Шрифты */
$font-family: "Lato", "Arial", sans-serif;
$font-family-title: "Playfair Display", "Times New Roman", serif;

/* Размеры шрифтов */
$font-size: 18px;
$font-size-big: 28px;
$line-height: 1.5;
$letter-spacing: 0;

$font-size-huge-desktop: 72px;
$font-size-huge-tablet: 56px;
$font-size-huge-mobile: 32px;
$line-height-huge: 1.1;

$font-size-big-desktop: 40px;
$font-size-big-tablet: 40px;
$font-size-big-mobile: 28px;
$line-height-big: 1.1;

$font-size-medium-desktop: 24px;
$font-size-medium-tablet: 24px;
$font-size-medium-mobile: 21px;
$line-height-medium: 1.1;

$letter-spacing-title: .03em;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;

/* Цвета */
$color-base: #000;
$color-bold: #1C1515;
$color-bg: #FFF;
$color-primary: #F2C03F;
$color-secondary: #7C6AAD;
$color-secondary-darker: #654EA3;
$color-bg-secondary: #F4F4F4;

/* Размеры */
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1920px;

/* Медиа */
$media-tablet: screen and (min-width: $width-tablet);
$media-desktop: screen and (min-width: $width-desktop);

/* Отступы */
$gap: 16px;
$gap-tablet: 40px;
$gap-desktop: 40px;

$transition: 0.3s ease;
$gradient: linear-gradient(137deg, rgba(101, 78, 163, 0.87) 35.26%, rgba(95, 75, 139, 0.87) 88.11%)
