doctype html
block vars
include mixins
html(lang="ru")
  include head.pug
  body.page
    include svg.pug
    include /blocks/header.pug
    main
      block content
    include /blocks/footer.pug
    script(src="js/index.js")
